/*Dian's Part*/
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");


* {
    box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;

}

.top-wrapper {
    padding: 190px 0px 120px 0px;
    background-image: url(glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg);
    background-size: cover;
    color: #ffffff;
    font-family: 'Viga', sans-serif;/*Arial, Helvetica, sans-serif;*/
    text-align: center;
    animation-name: fade-in;    
    animation-duration: 3s;
}

@keyframes fade-in {
    0% { opacity: 0; margin-left: -250px; }
    100% { opacity: 1; margin-left: 0; }
}

.top-wrapper h1 {
    opacity: 0.5;
    font-size: 65px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    opacity: 0.5;
    margin-bottom: 3px;
}
  
.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}
  
.btn-wrapper p {
    margin: 10px 0;
}

.login {
    background-color: #e07a5f;
    margin-right: 10px;
}
  
.signup {
    background-color: #3D5A80;
}
  
.btn {
    padding: 6px 12px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}
  
.btn:hover {
    opacity: 1;
}

header {
    height: 65px;
    width: 100%;
    background-color: #3D5A80;
    opacity: 0.8;
    position :fixed;
    top: 0;
    z-index: 10;
}

.logo {
    font-family: 'Viga', sans-serif;
    color: #fffaf7;
}

.header-left {
    float: left;
    margin-top: 10px;
}
  
.header-right {
    float: right;
    margin-right: -25px;
}
  
.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}
  
.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/*Dhara's Part*/
.contents{
    height: 500px;
    margin-top: 50px;
}

.heading {
    border-bottom: 2px solid #acabb0;
    padding-bottom:15px;
    margin-bottom:50px;
}

.daftar-jenjang{
    float:left;
    width:33%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    animation-name: fade-in;    
    animation-duration: 3s;
}

@keyframes fade-in {
    0% { opacity: 0; margin-left: -250px; }
    100% { opacity: 1; margin-left: 0; }
}

.jenjang {
    position: relative;
}

.icon-jenjang {
    border-radius: 20px;
}

.jenjang p{
    position: absolute;
    top: 5%;
    width: 100%;
    color: white;
    font-family: 'Viga', sans-serif;
    font-size: 25px;
}

.txt-contents {
    width: 90%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
}

.partners{
    height: 500px;
    margin-top: 50px;
}
.daftar-partner{
    float:left;
    width:33%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.partner {
    position: relative;
}

.icon-partner {
    border-radius: 20px;
}

.partner p{
    position: absolute;
    top: 90%;
    width: 100%;
    color: #00121b;
    font-family: 'Viga', sans-serif;
    font-size: 25px;
}


/*.partner h3{
    font-size:28px;
    border-bottom: 2px solid #acabb0;
    padding-bottom:15px;
    margin-bottom:50px;
}

.frame-slider{
    margin-left:100px;
    padding-top:10px;
    border-radius:30px;
}

.isi-slider a:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }


.isi-slider{
    position:relative;
    animation-name: float;    
    animation-duration: 4s;
}

@keyframes float {
    0% { opacity: 0; margin-left: -250px; }
    100% { opacity: 1; margin-left: 0; }
}

.channel-yutub{
    position:absolute;
}

.ikon-foto{
    margin-left:150px;
    margin-top:80px;
    float:left;
}

.channel-yutub p{
    width:65%;
    float:right;
    text-align:justify;
    padding-right:150px;   
}

.channel-yutub h4{
    width:65%;
    font-size:20px;
    float:right;
    margin-bottom:10px;
    margin-top:120px;
}*/

/*Dedit's Part - About us*/
.container-about {
    max-width: 1170px;
    margin:auto;
	position: relative;
    min-height: 1px;
}

.team{
	min-height: 100vh;
	padding:60px 15px;
	background-color:#ffffff; 
	float: left;
	width: 100%;
}
.team h1{
	font-size: 36px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	color:#ca3434;
	margin:0;
	padding-bottom:60px;
	text-align: center;
}

.team .card{
	width:25%;
	float: left;
	padding:0px 15px;
}
.team .card .box {
	padding:15px;
	background-color: #2d3035;
	border-radius:5px;
	transition: margin 1s ease,box-shadow 1s ease;
}
.team .card .box:hover{
	margin-top:-15px;
	box-shadow:0px 0px 40px black;
}
.team .card .box img{
	width:150px;
	display: block;
	margin:10px auto;
	border-radius:50%;
}

.team .card .box h4{
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
	margin:20px 0px 10px;
	color:#ea5e71;
	text-align: center;
	font-weight: 700;
}

.team .card .box h5{
	font-size:16px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	color:#b9b9b9;
	margin:0px 0px 15px;
	text-align: center;
}
.team .card .box p{
	color:#b9b9b9;
	font-size: 15px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	padding:0px 20px;
}

.box {
    animation-name: float;    
    animation-duration: 4s;
}

@keyframes float {
    0% { opacity: 0; margin-left: -250px; }
    100% { opacity: 1; margin-left: 0; }
}

/*Edulan's Part*/
footer {
    width: 100%;
    background: #00121b;
    display: inline-block;
    margin-top: 30px;
}
  

.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
  
.footer-items {
    width: 25%;
    padding: 10px 30px;
    box-sizing: border-box;
}

/*
.footer-items h1 {
    padding: 8px 0;
    font-size: 25px;
    color: #ff9800;
    text-transform: uppercase;
}
  
.footer-items p {
    color: grey;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
    margin-top: 4px;
}*/
  
.footer-items h2 {
    margin: 10px 0px;
    color: grey;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    width: 100px;
}
  
.border {
    height: 2px;
    width: 40px;
    background: #ff9800;
}
  
.footer-items ul {
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-top: 10px;
}
  
.footer-items ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}
  
.footer-items ul a:hover {
    color: #ff9800;
}
  
.footer-items ul li {
    margin-right: 10px;
    width: 200px;
    height: 25px;
}
  
.footer-bottom {
    padding: 10px;
    background: #3d545f;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

